* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* JS only */
.tap {
  transform: rotate(-90deg);
}

.adjust_option {
  top: -5px !important;
}

.facedown {
  content: url('img/backing.png');
}

.upright {
  transform: rotate(90deg);
}

.selected {
  box-shadow: 0 0 10pt 5pt blue;
}

.locked {
  content: url('img/backing.png');
}

/* Dragging Purposes ONLY */
.invisible {
  display: none;
}

.hovered {
  outline: 2px solid orange;
  content: none;
}

/* General Use */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/**/

.wrap-ctnr {
  border: 5px solid saddlebrown;
  /* FOR TESTING - REMOVE LATER */
  margin-top: 50px;
}

.wrap {
  border: 1px solid pink;
  flex-direction: column;
  float: left;
  position: relative;
}

.field-ctnr {
  position: relative;
}

.field {
  background-color: #3e2723;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 170px repeat(3, 170px) 120px;
  grid-template-rows: repeat(2, 180px);
  grid-template-areas: "damage RC_1 VC RC_5 deck"
                       "damage RC_2 RC_3 RC_4 drop";
  padding: 5px;
}

.circle {
  background-color: beige;
  border-radius: 5px;
  position: relative;
}

.circle:nth-of-type(1) {
  grid-area: damage;
}
.circle:nth-of-type(2) {
  grid-area: RC_1;
}
.circle:nth-of-type(3) {
  grid-area: VC;
}
.circle:nth-of-type(4) {
  grid-area: RC_5;
}
.circle:nth-of-type(5) {
  grid-area: deck;
}
.circle:nth-of-type(6) {
  grid-area: RC_2;
}
.circle:nth-of-type(7) {
  grid-area: RC_3;
}
.circle:nth-of-type(8) {
  grid-area: RC_4;
}
.circle:nth-of-type(9) {
  grid-area: drop;
}

.unit-ctnr {
  position: relative;
  border: 1px solid blue;
  width: 90px;
  height: 130px;
}

.field-ctnr .card {
  position: absolute;
  width: 100%;
  height: 100%;
}

img {
  width: 90px;
  height: 130px;
  vertical-align: bottom;
}

.hand .circle {
  background-color: green;
  width: 500px;
  padding: 5px 0 5px 0;
}

.detail-ctnr {
  background-color: #66FF99;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 18px;
  text-align: center;
}

.power {
  background-color: skyblue;
}

.outer-zone {
  /* border: 5px solid brown; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.g-zone {
  border: 1px solid red;
  display: flex;
  padding: 5px;
}

.g-zone .card {
  position: absolute;
}

.stride__down {
  border: 1px solid red;
}

.stride__down .card > img {
  /* content: url('img/backing.png'); */
}

.stride__up {
  border: 1px solid blue;
}

.trigger {
  border: 1px solid red;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  width: 100px;
  height: 148px;
  position: absolute;
  right: -100px;
}

.trigger .card {
  position: absolute;
}

.field-ctnr > .circle:first-child, .field-ctnr > .circle:nth-child(2) {
  position: absolute;
  width: 120px;
  height: 180px;
  right: -120px;
  background-color: transparent;
}

.field-ctnr > .circle:first-child {
  margin-top: 5px;
}

.field-ctnr > .circle:nth-child(2) {
  bottom: 0;
  margin-bottom: 5px;
}

.amount {
  /* background-color: yellow; */
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.amt {
  background-color: orange;
  border-radius: 30px;
  padding: 5px;
  margin-top: 5px;
}

.option_ctnr {
  background-color: skyblue;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 25px;
  top: -25px;
  border-radius: 30px;
}

.option_ctnr img {
  width: auto;
  height: 25px;
}

.damage {
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
}

.damage div:nth-child(2) {
  right: 35px;
}
.damage div:nth-child(3) {
  right: calc(35px * 2);
}
.damage div:nth-child(4) {
  right: calc(35px * 3);
}
.damage div:nth-child(5) {
  right: calc(35px * 4);
}
.damage div:nth-child(6) {
  right: calc(35px * 5);
}

.card {
  width: 90px;
  height: 130px;
  position: relative;
}

/* RETURN TO LATER */
.hidden {
  visibility: hidden;
}

.search-ctnr {
  background-color: rgba(255, 165, 0, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.search-item-ctnr {
  /* background-color: purple; */
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
  /* Remove later */
  padding-top: 10px;
}

.exit {
  position: absolute;
  bottom: 0;
  width: 35px;
  height: 20px;
}
/*  */

.power-input-wrap {
  background-color: rgba(0, 238, 255, 0.8);
  position: absolute;
  top: 0;
  width: 50%;
  height: 25%;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  /* Can use .hidden later */
  display: none;
}

.input, .btn {
  margin-top: 25px;
  border-radius: 30px;
  border: none;
  outline: none;
}

.input {
  width: 150px;
  height: 25px;
  text-align: center;
  font-size: 16px;
}

.btn-ctnr {
  /* background-color: purple; */
  justify-content: space-evenly;
}

.btn {
  padding: 5px;
  font-size: 13px;
}

.option_ctnr .option:hover {
  outline: 2px solid green;
  z-index: 1;
}