* {
  box-sizing: border-box;
}

#container {
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100px;
  height: 148px;
}

#duel_area {
  position: relative;
  display: grid;
  background-color: #3e2723;
  border: 2px blue solid;
  grid-gap: 5px;
  padding: 5px;
  grid-template-columns: 170px repeat(3, 170px) 120px;
  grid-template-rows: repeat(2, 180px);
  grid-template-areas: "damage RC_1 VC RC_5 deck"
                       "damage RC_2 RC_3 RC_4 drop";
}

#duel_area .empty {
  background-color: beige;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.empty:nth-of-type(1) {
  grid-area: damage;
}
.empty:nth-of-type(2) {
  grid-area: RC_1;
}
.empty:nth-of-type(3) {
  grid-area: VC;
}
.empty:nth-of-type(4) {
  grid-area: RC_5;
}
.empty:nth-of-type(5) {
  grid-area: deck;
}
.empty:nth-of-type(6) {
  grid-area: RC_2;
}
.empty:nth-of-type(7) {
  grid-area: RC_3;
}
.empty:nth-of-type(8) {
  grid-area: RC_4;
}
.empty:nth-of-type(9) {
  grid-area: drop;
}

#duel_area .tap {
  transform: rotate(-90deg);
}

.hovered {
  box-shadow: 0 0 10pt 2pt red;
}

.invisible {
  display: none;
}

.fill {
  position: relative; 
  cursor: pointer;
}

#duel_area .fill {
  position: absolute; 
  cursor: pointer;
}

#duel_area #damage .fill {
  position: relative; 
  cursor: pointer;
  margin-bottom: -105px;
}

#hand_container {
  width: 800px;
  height: 200px;
  border: 2px solid black;
}

#hand_container .empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 200px;
}

#damage {
  display: flex;
  flex-direction: column-reverse;
}

#damage .align_purposes {
  /* background-color: green; */
  width: 200px;
  height: 400px;
}

#deck {
  position: relative;
}

#deck img {
  margin-top: -10px;
}

#drop {
  position: relative;
}

.counter {
  background-color: darkolivegreen;
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
}

.blasted {
  content: url("https://cdn11.bigcommerce.com/s-0kvv9/images/stencil/1280x1280/products/237200/328448/vanguardsleevelogo__73443.1519959137.jpg?c=2&imbypass=on");
  width: 100px;
  height: 148px;
  border-radius: 5px;
}

/* Credits
--> for learning about "content" : 
https://stackoverflow.com/questions/12142386/replacing-an-image-in-an-img-tag-using-css */